<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section class="container mt-5">
  <h1>Edit this Nade Throw💣💣💣</h1>
  <form action="/nade-throws/<%= nadeThrow._id %>?_method=put" method="post">
    <div class="form-group">
      <label for="map-select">Map:</label>
      <select name="map" id="map-select" class="form-control">
        <option value="Anubis">Anubis</option>
        <option value="Cache">Cache</option>
        <option value="Cobblestone">cobblestone</option>
        <option value="Dust II">Dust II</option>
        <option value="Inferno">Inferno</option>
        <option value="Mirage">Mirage</option>
        <option value="Nuke">Nuke</option>
        <option value="Overpass">Overpass</option>
        <option value="Train">Train</option>
        <option value="Vertigo">Vertigo</option>
      </select>
    </div>
    <label for="gif-link">GIF Link:</label>
    <input
      type="text"
      id="gif-link"
      name="gifLink"
      placeholder="Paste Gif Link Here"
    />
    <label for="location">Map Location:</label>
    <input
      type="text"
      name="location"
      id="location"
      placeholder="Map Callout Here"
    />
    <label for="grenade-types">Grenade Type:</label>
    <select name="grenadeType" id="grenade-types">
      <option value="Smoke Grenade">Smoke Grenade</option>
      <option value="Frag Grenade">Frag Grenade</option>
      <option value="Flash Grenade">Flash Grenade</option>
      <option value="Molotov/Incendiary Grenade">
        Molotov/Incendiary Grenade
      </option>
    </select>
    <label for="tick-rate-select">Tick Rate:</label>
    <select name="tickRate" id="tick-rate-select">
      <option value="64">64</option>
      <option value="128">128</option>
    </select>
    <div class="form-group form-check">
      <input type="checkbox" name="jumpThrow" class="form-check-input"
      id="jumpThrow" <%= nadeThrow.jumpThrow ? 'checked' : '' %>>
      <label class="form-check-label" for="jumpThrow"> Jump Throw? </label>
    </div>
    <button type="submit" class="btn btn-primary">Edit the 💣💣💣</button>
  </form>
</section>

<%- include('../partials/footer') %>
