<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section class="container mt-5">
  <h1>Nade Throws! 💣💣💣</h1>
  <% if (user ) { %>
  <h2>Add Nade Throw</h2>
  <form action="/nade-throws" method="post">
    <div class="form-group form-check">
      <input
        type="checkbox"
        name="jumpThrow"
        class="form-check-input"
        id="jumpThrow"
      />
      <label class="form-check-label" for="jumpThrow"> Jump Throw? </label>
    </div>
    <div class="form-group">
      <label for="map"> Map: </label>
      <select name="map" id="map-select" class="form-control">
        <option value="Anubis">Anubis</option>
        <option value="Cache">Cache</option>
        <option value="Cobblestone">cobblestone</option>
        <option value="Dust II">Dust II</option>
        <option value="Inferno">Inferno</option>
        <option value="Mirage">Mirage</option>
        <option value="Nuke">Nuke</option>
        <option value="Overpass">Overpass</option>
        <option value="Train">Train</option>
        <option value="Vertigo">Vertigo</option>
      </select>
    </div>
    <label for="gif-link">GIF Link:</label>
    <input
      type="text"
      id="gif-link"
      name="gifLink"
      placeholder="Paste Gif Link Here"
    />
    
    <button type="submit" class="btn btn-primary">Add 💣</button>
  </form>
  <% } %>
  <h2>All the Nade Throws:</h2>
  <ul class="list-unstyled row">
    <% nadeThrows.forEach(nadeThrow => { %>
    <li class="col-md-6 my-3">
      <div class="card border-secondary h-100">
        <div class="card-body">
          <h5 class="card-title"><%= nadeThrow.map %></h5>
          <p class="card-text">
            <%= nadeThrow.jumpThrow ? 'Jump Throw' : 'Standard Throw' %> 💣 on
          </p>
          <div
            class="ratio ratio-16x9 mb-3"
            style="position: relative; overflow: hidden; background-color: #333"
          >
            <iframe
              src="<%= nadeThrow.gifLink %>"
              controls
              style="
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
              "
            >
              Your browser does not support the video tag.
        </iframe>
          </div>
          <a
            href="/nade-throws/<%= nadeThrow._id %>"
            class="btn btn-outline-secondary"
            >View Details</a
          >
        </div>
      </div>
    </li>
    <% }); %>
  </ul>
</section>
<%- include('../partials/footer') %>
