<%- include('./partials/html-head') %> <%- include('./partials/nav') %>

<main class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="mb-4">Hello, <%= user ? user.profile.name : "friend" %></h1>
      <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="img-fluid rounded-circle"
        />
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
